.btn{
    margin-top: 15px;
    padding: 8px 25px;
    background: #0e3970;
    color: white;
    border: 1px solid white;
    font-size: 17px;
    border-radius: 4px;

}
.btn:hover {
    border: 1px solid #0c5bc0;
    background:#0c5bc0;
}
.addForm{
    margin-top: 150px;
}
.list {
    border-collapse: collapse;
    width: 50%;
    text-align: center;
    border: 1px solid black;
}

th {
    border: 1px solid black;
}
.list td{
    border: 1px solid black;
}
.input{
    padding: 5px 60px 5px 3px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(119, 114, 114);
    border-radius: 2px;
}
